html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  /* background-color: #1f2937; */
}

/* reset paragraph and h margins globally */
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

/* HEADER */
.header-content {
    height: 50px;
    width: 100%;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 500px;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    color:#F9FAF8;
}

.header-logo {
    color:#F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 60px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    margin-top: 0;
}

.hero-content {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 270px;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.hero-left {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-btn {
    height: 30px;
    width: 100px;
    margin: 10px;
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
    color: #E5E7EB;
    font-weight: bold;
}

.hero-img {
    height: 250px;
    width: 500px;
}

/* INFORMATION SECTION */
.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.info-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-content {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
}

.info-img {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-color:#3882F6;
    border-radius: 10px;
}

.info-img-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
}

/* QUOTE SECTION */
.quote-section {
    background-color: #E5E7EB;
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

/* CALL TO ACTION */
.call-to-action {
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-content {
    width: 1200px;
    height: 180px;
    background-color:#3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px
}

.call-title {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.call-text {
    color: #E5E7EB;
}

.call-btn {
    height: 40px;
    width: 150px;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color:#3882F6;
    border-color: #E5E7EB;
    font-weight: bold;
    font-size: 14px;
    color: #E5E7EB;
}

/* FOOTER SECTION */
.footer {
    width: auto;
    height: 80px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: #E5E7EB;
}